# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
*.xcuserdata/

# Swift Package Manager
.build/
Packages/
Package.resolved

# AppCode / other IDEs
.idea/

# Logs
*.log

# Xcode user data (do not commit)
**/*.xcodeproj/xcuserdata/
